*{
    padding: 0px;
    margin: 0px;
}
/* bonus round e lagte pare */
/* .icon img{
    width: 60px;
    height: 60px;
    border-radius: 32px;
} */
/* total-head-area starts here */
/* header background */
.total-head-area{
    background-color: rgba(229, 84, 115, 0.10);
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: space-around;

}
/* for all buttons */
.btn{
 padding: 20px 45px;
 border-radius: 8px;
 background-color: #E55473; 
 color: white;
 margin-top: 20px;
 border: 0px;

}
/* head image editing */
.img-area{
    width: 200px;
    height: 200px;
    padding-right: 200px;
}
/* test-edit for header */
.text-area{
    padding-top: 250px;
    font-size: 35px;
}
.text-area h1{
    font-family: 'Lato', sans-serif;
}
.text-area small>h6{
    font-size: 12px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}
/* total-head-area ends here */
/* bonus-round-1 starts */
.bonus-rounds{
    height: 80vh;
    background-color: white;
    color: black;
}
.text-part{
    text-align: center;
    padding-top: 80px;
}
.img-part{
    display: flex;
    gap:10px;
    align-items: center;
    margin-top: 45px;

}
.background-bonus-style{
    width: 464px;
    height: 538px;
    border-radius: 200px 200px 0px 0px ;
    justify-content: center;
    margin-left: 120px;
    padding-top: 30px;

    
}
/* (42px) */
.ul-texts{
 display: flex;
 
 text-align: center;
}
.one{
    margin-left: 300px;
    width: max-content;
    border-bottom: 1px solid black;
}
.two{
   margin-left: 550px;
   border-bottom: 1px solid black;
}
.three{
   margin-left: 550px;
   border-bottom: 1px solid black;
}
.bonus-1{
    background-color: rgba(167, 33, 98, 0.15);
    padding-left: 80px;
    padding-top: 20px;
    
}
.bonus-2{

    background-color: rgba(5, 151, 160, 0.15);
    padding-left: 80px;
    padding-top: 30px;
}
.bonus-3{

    background-color: rgba(71, 125, 17, 0.15);
    padding-left: 80px;
}

/* first-part-of-the-main starts */
/* background-design */
.first-part-of-the-main{
    height: 550px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}
/* rose-image-style */
.right-img-area{
    height:250px ;
    width:590px ;
    padding-top: 50px;

    /* background-color: rgba(229, 84, 115, 0.10);
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: space-around; */
}
.left-text-area{
    /* padding-top: ; */
        padding-top: 250px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
/* optional jdi lage */
/* .margin-edit{
    margin: 20px;
} */
/* first-part-of-the-main ends */
/* intagram-decoration stars */
.intagram-decoration{
    height: 100vh;
    width: auto;
    

}
.instagram-texts{
    text-align: center;
    padding-top: 128px;
    padding-bottom: 48px;
    
    font-family: 'Lato', sans-serif;
}
.decoration-images{
    width: 342px;
    height: 396px;
    display: flex;
    padding-left: 240px;
    gap: 20px;
}
.last-sreach-iamge{
    background-image: url("./last-background-image.png");
    height: 75vh;
    background-repeat: no-repeat;
    margin-left: 320px;
    box-shadow: 12px 10px;
    border-radius: 0px;

}
.search input{

   
    padding: 20px ;
    padding-right: 275px;
    border-radius: 8px;
    margin-left: 457px;
    margin-top: 40px;

}
.last-search-img-text{
    padding-left: 550px;
    font-family: 'Lato', sans-serif;
    padding-top: 122px;
}
.last-search-img-text h1{
    padding-bottom: 12px;
}
.sokh{
   padding-left:86px;
}
.last-part-of-the-prg{
    height: 500px;
    background-color: black;
    color: white;
    text-align: center;

}
.last-part-of-the-prg h1{
    padding-bottom: 12px;
    padding-top: 128px;
}
.last-part-of-the-prg small {
    color:rgba(255, 255, 255, 0.40);
    font-family: 'Lato', sans-serif;

}
.hard-write{
    text-align: center;
    color: black;
    padding-bottom: 30px;
    font-family: 'Agdasima', sans-serif;
}
.own-div{
    height: 120vh;
    width: auto;
    background-color: bisque;
    color: black;
    padding-left: 200px;
    margin-bottom: 200px;
 
}
.first-pic{
    display: flex;
}
.first-pic img{
    max-width: 100%;
    max-height: 100%;
    height: 210px;
    width: 210px;
    border-radius: 20px;
    box-shadow: 10px 10px 9px #640000;
    gap: 40px;
}
.first-pic h3{
    border: 1px solid black;
    background-color: #640000;
    color: white;
    width: 1210px;
    height: 150px;
    margin-left: 70px;
    box-shadow: 10px 10px 9px #640000;
    border-radius: 20px;
    padding-top: 70px;
    padding-left: 12px;
}
.mrg{
    margin-top: 20px;
}
.second-pic h3{
    
    background-color: #E3B8C2;
    color: black;
    box-shadow: 10px 10px 9px #E3B8C2;
    

}
.third-pic h3{
    background-color: #F1CFB2;
    color: green; 
    box-shadow: 10px 10px 9px #F1CFB2;
}
.forth-pic h3{
    background-color:#CF97E2 ;
    color: rgb(37, 39, 138); 
    box-shadow: 10px 10px 9px #CF97E2 ;
}