*{
    padding: 0px;
    margin: 0px;
}
/* total-head-area starts here */
/* header background */
.total-head-area{
    background-color: rgba(229, 84, 115, 0.10);
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: space-around;

}
/* for all buttons */
.btn{
 padding: 20px 45px;
 border-radius: 8px;
 background-color: #E55473; 
 color: white;
 margin-top: 20px;
 border: 0px;

}
/* head image editing */
.img-area{
    width: 200px;
    height: 200px;
    padding-right: 200px;
}
/* test-edit for header */
.text-area{
    padding-top: 250px;
    font-size: 35px;
}
.text-area h1{
    font-family: 'Lato', sans-serif;
}
.text-area small>h6{
    font-size: 12px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}
/* total-head-area ends here */
/* first-part-of-the-main starts */
/* background-design */
.first-part-of-the-main{
    height: 550px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}
/* rose-image-style */
.right-img-area{
    height:250px ;
    width:590px ;
    padding-top: 50px;

    /* background-color: rgba(229, 84, 115, 0.10);
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: space-around; */
}
.left-text-area{
    /* padding-top: ; */
        padding-top: 250px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
/* optional jdi lage */
/* .margin-edit{
    margin: 20px;
} */
/* first-part-of-the-main ends */
/* intagram-decoration stars */
.intagram-decoration{
    height: 100vh;
    width: auto;
    

}
.instagram-texts{
    text-align: center;
    padding-top: 128px;
    padding-bottom: 48px;
    
    font-family: 'Lato', sans-serif;
}
.decoration-images{
    width: 342px;
    height: 396px;
    display: flex;
    padding-left: 240px;
    gap: 20px;
}
.last-sreach-iamge{
    background-image: url("./last-background-image.png");
    height: 90vh;
    background-repeat: no-repeat;
    margin-left: 228px;
    box-shadow: 12px 10px;

}
.search input{

   
    padding: 20px ;
    padding-right: 275px;
    border-radius: 8px;
    margin-left: 457px;
    margin-top: 40px;

}
.last-search-img-text{
    padding-left: 550px;
    font-family: 'Lato', sans-serif;
    padding-top: 122px;
}
.last-search-img-text h1{
    padding-bottom: 12px;
}
.sokh{
   padding-left:86px;
}