*{
    padding: 0px;
    margin: 0px;
}
/* total-head-area starts here */
/* header background */
.total-head-area{
    background-color: rgba(229, 84, 115, 0.10);
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: space-around;

}
/* for all buttons */
.btn{
 padding: 20px 45px;
 border-radius: 8px;
 background-color: #E55473; 
 color: white;
 margin-top: 20px;
 border: 0px;

}
/* head image editing */
.img-area{
    width: 200px;
    height: 200px;
    padding-right: 200px;
}
/* test-edit for header */
.text-area{
    padding-top: 250px;
    font-size: 35px;
}
.text-area h1{
    font-family: 'Lato', sans-serif;
}
.text-area small>h6{
    font-size: 12px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}
/* total-head-area ends here */
/* first-part-of-the-main starts */
/* background-design */
.first-part-of-the-main{
    height: 550px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}
/* rose-image-style */
.right-img-area{
    height:250px ;
    width:590px ;
    padding-top: 50px;

    /* background-color: rgba(229, 84, 115, 0.10);
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: space-around; */
}
.left-text-area{
    /* padding-top: ; */
        padding-top: 250px;
    font-size: 20px;
    text-align: center;
}
/* optional jdi lage */
/* .margin-edit{
    margin: 20px;
} */
/* first-part-of-the-main ends */